<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>


	<form th:action="@{/signup}" method="post">
		<input type="text" name="email" placeholder="이메일 입력해주세요"> <br>
		<input type="text" name="name" id="name" placeholder="Your ID" /> <br>
		<input type="password" name="upwd" placeholder="비밀번호"> <br>
		<input type="password" name="re_upwd" id="re_pass"
			placeholder="Repeat your password" /> <br>
		<button type="submit">가입하기</button>
	</form>


</body>
</html>